/* BOOTSTRAP SUCCESS */
/* http://smarchal.com/twbscolor/?bd=dff0d8&bh=d6e9c6&cd=3c763d&ch=2b542c */

.navbar-default {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.navbar-default .navbar-brand {
    color: #3c763d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #2b542c;
}
.navbar-default .navbar-nav > li > a {
    color: #3c763d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2b542c;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #2b542c;
    background-color: #d6e9c6;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #2b542c;
    background-color: #d6e9c6;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #3c763d;
    border-bottom-color: #3c763d;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #2b542c;
    border-bottom-color: #2b542c;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #2b542c;
    border-bottom-color: #2b542c;
}
.navbar-default .navbar-toggle {
    border-color: #d6e9c6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d6e9c6;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3c763d;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #3c763d;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #2b542c;
    }
}